# Evaluating rules of thumb for selecting target seats
### _Determinants of success for progressive challengers in the 2024 UK General Election_


## Background

The Liberal Democrats (LDs) use three high level measures of a constituency's viability as a potential target seat, derived from results of the most recent general election:

1. the position achieved by the LD candidate (e.g. 2nd, 3rd, 4th) - which I will call 'position'
2. the difference between the LD candidate's number of votes won and the winning candidate's number of votes won - which I will call 'raw vote margin'
3. the difference between the LD candidate's percentage share of votes cast and the winning candidate's percentage share of votes cast - which I will call 'percentage margin'.

In this analysis I seek to determine which of these is the better predictor of whether a non-incumbent candidate will win the constituency at the next election.

Why does the distinction matter? In most cases a party that came second in a constituency will also have a narrow margin to overturn (in both raw and percentage terms). However, close-run elections can result in the party in third or fourth position in the constituency facing only a narrow margin between their result and the winner's. Conversely, a seat can be won so decisively that the party in second place faces a large margin. 

Take the two together and one can have a situation in which one party can face a small margin from third place in one seat, and a large margin from second place in another. 

Take for example two Liberal Democrat results in the 2024 General Election. In the constituency of Exmouth and Exeter East, the Lib Dems came third, but since it was a close race between three parties, they now face a margin of only 3.26% of the vote between their result and the winner's result. Conversely, in Cambridge, the Lib Dems came second, but face a margin of 13.16%. Which is the better seat to target? That is what this analysis seeks to answer.

## Important Limitations

First, it is important to note that many other factors are included in the selection of target seats, such as number of LD councillors, level of fundraising, qualitative sense of the quality of the party's candidate in that seat, and so on. I hope to analyse these other factors in future, once I have compiled the necessary data. They will not be considered in this analysis.

Second, I have not yet been able to remove all the constituencies that 

Second, it is important to acknowledge that political parties will very likely have incorporated one or more of these same factors into their determination of which seats to target - which will in turn have affected the results in those seats. As a consequence, a regression result showing that party position explained more variance in outcomes than percentage margin did, for instance, could very well simply indicate that parties concentrated their resources into seats in which they held favourable positions, in preference over seats where they were within close percentage margins of victory.

To control for this effect, I will incorporate data on which seats were understood to have been targetted by three of the parties: Labour, the Liberal Democrats, and the Greens. I am grateful to the tactical voting campaign, StopTheTories.vote, for providing their data on those three parties' target seats. 

Since that data does not include targetting by other parties, I will limit my analysis in this instance to those three parties. I will need to consider the impact upon these three parite sIn turn, since these three parties face more opponents in both Wales and Scotland (whether the nationalist parties compete for their votes), and can arguably face an easier contest in seats where Reform splits the right-wing vote with the Conservatives, 


## Literature

The President of the Liberal Democrats, Lord Pack, and I have recently authored a proposed strategy for the party, entitled 'What Next for the Liberal Democrats?', and available at this url: https://docs.google.com/document/d/11aVzII74yXZ9GaneBXK-_nIHP_ow72guAiiZiRfNFEY. In that document, we use a mixture of the three metrics, since each of them has currency within the party. To help take the strategy forwards, I now seek to determine which is the most useful of the metrics. 

The academic literature includes analysis of these factors, and broadly supports percentage margin being the most important of the three. However, many studies are drawn either from two-party systems (most notably the US) or from proportional systems, such as those in continental Europe. Examples include Jacobson's _The Politics of Congressional Elections_, 2015, which argues for percentage margin being the most important of the factors, within the two party system of US politics, and Bartolini and Mair's _Identity, Competition, and Electoral Availability: The Stabilisation of European Electorates 1885–1985_, 1990, which reaches a similar conclusion about the proportional systems on the continent.

The literature for majoritarian multi-party systems, such as those in use in Britain and Canada, appears to indicate that finishing second might be more important, however. Both the seminal 1969 _Political Change in Britain: The Evolution of Electoral Choice_, by Butler and Stokes, and the 2006 volume _Putting Voters in Their Place: Geography and Elections in Great Britain_ by Johnston & Pattie conclude that coming second is more important than obtaining a narrow percentage margin. 

Since the Liberal Democrats use a mixture of the measures, there is clear scope for further analysis in the British context.

## Research Design

In this first analysis, I will consider each unique 'campaign' in the 2024 election - that is, each unique combination of a political party and a constituency. (Future analysis will include earlier elections.) Whether or not the candidate won the in the constituency in the 2024 general election will be the primary dependent variable of analysis, since winning the seat is the primary consideration of whether or not to target it. Given the circular nature of causality here (parties are likely to target seats they think they can win, so it is possible that we will see outsized effects), I will repeat the analysis for a secondary dependent variable: the resulting percentage vote share of the candidate, which will provide more nuanced indications of the effects of each of the factors under consideration.

As such, we will have two effect sizes to consider for each of the three possible factors: the effect upon the likelihood of winning the seat in 2024 (to be calculated using logistic regression analysis) and the effect upon the percentage vote share achieved in 2024 (to be calculated using Ordinary Least Squares regression.)

For convenience, I will refer to these two dependent variables as the 'outcome' of a campaign in this narrative, including in the hypotheses below. When conducting the analysis and interpreting the findings, however, I will separately evaluate the two dependent variables: whether or not the candidate won the constituency and what percentage vote share they achieved. 


### Hypotheses:

- H1. All three selected factors will be statistically discernible predictors of the outcome of a campaign.
    - H0. Null Hypothesis: one or more of the three selected factors will _not_ be a statistically discerinble predictor of the outcome of the campaign.
- H2. Difference in 2019 percentage vote share will be a stronger predictor of the campaign outcome than difference in 2019 number of votes.
    - H0. Null Hypothesis: difference in 2019 percentage vote share will _not_ be a stronger predictor of the campaign outcome than difference in 2019 number of votes.
- H3. Whether the campaign achieved second place in the 2019 election will be a stronger predictor of the 2024 campaign outcome than either other factor.
    - H0. Null hypothesis: whether the campaign achieved second place in the 2019 election will _not_ be a stronger predictor of the 2024 campaign outcome than either other factor.

As indicated above, I will evaluate these hypotheses for each of the two dependent variables in question.

### Data Sources:

To test these hypotheses, I will need to bring together three data sources:

1. 2024 general election results by constituency - produced by the House of Commons library
2. 2024 general election results by candidate - produced by the House of Commons library
3. Estimates of notional 2019 general election results by constituency - produced by Rallings & Thrasher of Nuffield College, Oxford

(Note also that a party might have stood different candidates in the same constituency in each of the two elections, so ideally I would also take into account data about 2019 candidates, rather than just 2024 candidates. However, the notional 2019 Rallings & Thrasher data only covered results per constituenncy, not per candidate, so I would not be able to establish a match between 2019 and 2024 constituencies.)


### Exclusions:

To ensure valid conclusions can be drawn regarding predictors of the outcomes of non-incumbent campaigns, I will need to remove: 

1. all campaigns by incumbent MPs
2. all campaigns by parties other than Labour, the Liberal Democrats and the Greens, for whom I have data on their choices of target seat
3. all campaigns in seats not contested by these parties: to whit, the seats in Northern Ireland
2. all campaigns in the Speaker's constituency, Chorley, which is not contested by the major parties
3. all campaigns in constituencies where a Parliamentary by-election was held between the 2019 and 2024 general elections (because in these the 2019 notional election results will not be valid)

Unlike in the previous analysis, I will not need to remove constituencies in Northern Ireland, because this current analysis is not specific to the performance of the Liberal Democrats (who do not run in those constituencies).


### Controls:

Many other factors could credibly contribute to the outcome of a campaign, including characteristics of the constituency and its population; the candidate; the party; and the campaign itself. Examples of those are as follows:

- The constituency & its population: rural vs urban, economic classification, levels of education, levels of employment, whether it is targetted by each party etc
- The candidate: gender, age, whether or not resides in the constituency, etc
- The national party: support in opinion polls, approval ratings for leader, national expenditure etc.
- The local party: number of councillors, results in local elections, number of members, etc.
- The campaign: quality of message, number of volunteers, local expenditure, volume of literature delivered, etc

Over future analyses I would like to establish the explanatory power of a number of these variables. For this initial analysis, I will seek to control for them, as potentially influential factors on the outcome of each campaign. In this initial analysis, I will limit myself to controlling for those variables that are provided in the House of Commons official results datasets. For future analysis I will source additional data with which to both test and control for other considerations.

From the House of Commons official results data, I will use the following as controls:

- Candidates:
    1. Gender
    2. Former MP: whether or not the candidate has ever previously been an MP
    3. Party
- Constituency:
    1. Party who won the seat in 2019
    2. Number of credible candidates campaigning (to be determined by whether the candidate lost their deposit by securing 5% or less of the vote)
    3. Region of constituency
    4. Type of constituency (borough / county) - noting that Scottish boroughs are coded as 'burgh', so will need to be consolidated with boroughs.

Additionally, from the StopTheTories.vote data, I will use their measures of:

- Target Seats
    1. Whether the seat was a target for Labour
        - ... for the Greens,
        - ... for the Liberal Democrats,
        - ... of for none of the above.

For each of the above, my rationale is as follows:

- Candidates
    1. Gender of candidate. Given that only 40% of Parliamentarians are female, it is possible that two otherwise identical candidates might receive differing numbers of votes based on their gender alone.

    2. Whether candidate is former MP. Former MPs could be expected to have greater name recognition than other candidates.

    3. Party of candidate. The 2024 election was characterised by anti-Conservative sentiment. We could expect Conservative candidates to perform worse than other candidates.

- Constituencies

    1. Winning party in 2019. As above, the 2024 general election was characterised by anti-Conservative sentiment. Challenger candidates running against incumbent Conservatives could be expected to perform better than otherwise identical candidates running against other incumbents.

    2. Number of credible candidates campaigning in 2024. The effect of the number of candidates upon the dependent variable could be expected to be limited by the number of candidates who were credible contenders. To determine credibility, we will use the existing measure of whether a candidate lost their deposit (triggered by achieving 5% or less of the vote). 

    3. Region of constituency. Many political parties obtain better results in some regions of the UK than others (such as Labour in the North of England), and many target their efforts towards particular regions (such as the Liberal Democrats in the South West and South East of England). The 'Region' variable also includes the country, so covers similar effects between Wales, Scotland, Northern Ireland and the regions of England.

    4. Type of constituency. Some political parties traditionally perform better in urban areas (e.g. Labour) and others traditionally perform better in rural areas (e.g. the Conservatives). 

- Target Seats

    1. A party that targetted a seat will have invested more resources into that campaign (such as advertising spending, person-hours of campaigning by activists, visits by high-profile politicians etc), making it significantly more likely to win.

## Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels as stats
import scipy as sc
import math

## Data Wrangling

### Create main dataframe 
_Using 2024 results by candidate as a foundation, since each row is a unique constituency campaign_

In [2]:
# Ingest 2024 candidate data and label as main dataset

main = pd.read_csv("data/HoC-GE2024-results-by-candidate.csv")

main.shape # establish number of rows

(4515, 22)

In [3]:
main.columns # determine column names

Index(['ONS ID', 'ONS region ID', 'Constituency name', 'County name',
       'Region name', 'Country name', 'Constituency type', 'Party name',
       'Party abbreviation', 'Electoral Commission party ID', 'MNIS party ID',
       'Electoral Commission adjunct party ID', 'Candidate first name',
       'Candidate surname', 'Candidate gender', 'Sitting MP', 'Former MP',
       'Member MNIS ID', 'Votes', 'Share', 'Change', 'DC Person ID'],
      dtype='object')

In [4]:
# Remove candidates in the Speaker's constituency, Chorley

main = main[main['Constituency name'] != 'Chorley']

In [5]:
# Remove candidates in the constituences that had by-elections between 2019 and 2024

# First create a list containing all the constituencies where by-elections were held:

by_elections = ['Blackpool South', 'Rochdale', 'Kingswood', 'Wellingborough', 'Tamworth', 'Mid Bedfordshire', 'Rutherglen and Hamilton West', 
                'Somerton and Frome', 'Selby and Ainsty', 'Uxbridge and South Ruislip', 'West Lancashire', 'Stretford and Urmston', 
                'City of Chester', 'Tiverton and Honiton', 'Wakefield', 'Birmingham, Erditon', 'Southend West', 'North Shropshire',
                'Old Bexley and Sidcup', 'Chesham and Amersham', 'Airdrie and Shotts', 'Hartlepool']

# Then identify the index numbers of rows containing campaigns in those constituencies:

by_election_rows = main[main['Constituency name'].isin(by_elections)].index

# Then drop those rows: 

main = main.drop(by_election_rows)

# Note that since constituencies were renamed for the 2024 elections, only 13 of those 23 will actually be removed. 
# In future analysis I will come back to this and determine how to identify the remaining ten.

In [6]:
# Remove candidates in the Northern Irish constituencies (where not all of Lab, LD and Green compete)

main = main[main['Region name'] != 'Northern Ireland']

In [7]:
# Remove incumbent candidates

main = main[main['Sitting MP'] != 'Yes']

In [8]:
# Identify the abbrevations used for Labour, Liberal Democrats and Greens

main['Party abbreviation'].value_counts()

Party abbreviation
Green    606
LD       605
RUK      596
Lab      451
Ind      439
        ...
SUN        1
KIRG       1
LCI        1
NHAP       1
NIP        1
Name: count, Length: 86, dtype: int64

In [9]:
# Remove campaigns run by parties other than Labour, Liberal Democrats and the Greens

campaigns_to_keep = ['Green', 'Lab', 'LD']

main = main[main['Party abbreviation'].isin(campaigns_to_keep)]

# Drop the party names column

main = main.drop(columns='Party name')

main # print the top and bottom of the dataframe for visual validation

,ONS ID,ONS region ID,Constituency name,County name,Region name,Country name,Constituency type,Party abbreviation,Electoral Commission party ID,MNIS party ID,...,Candidate first name,Candidate surname,Candidate gender,Sitting MP,Former MP,Member MNIS ID,Votes,Share,Change,DC Person ID
2,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,LD,PP90,17,...,Justin,Griffiths,Male,No,No,NaN,916,0.025619,-0.011412,89373
3,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,Green,PP63,44,...,Nigel,Hill,Male,No,No,NaN,1094,0.030597,0.014817,92890
11,S14000060,S92000003,Aberdeen North,NaN,Scotland,Scotland,Burgh,Green,PP130,1057,...,Esme,Houston,Female,No,No,NaN,1275,0.030289,0.018080,85482
12,S14000060,S92000003,Aberdeen North,NaN,Scotland,Scotland,Burgh,LD,PP90,17,...,Desmond,Bouse,Male,No,No,NaN,2583,0.061361,-0.015942,74392
15,S14000060,S92000003,Aberdeen North,NaN,Scotland,Scotland,Burgh,Lab,PP53,15,...,Lynn,Thomson,Female,No,No,NaN,12773,0.303433,0.183637,21097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4501,E14001604,E12000003,York Central,NaN,Yorkshire and The Humber,England,Borough,LD,PP90,17,...,Alan,Page,Male,No,No,NaN,3051,0.070424,-0.007796,116606
4503,E14001604,E12000003,York Central,NaN,Yorkshire and The Humber,England,Borough,Green,PP63,44,...,Lars,Kramm,Male,No,No,NaN,5185,0.119682,0.077808,50749
4510,E14001605,E12000003,York Outer,NaN,Yorkshire and The Humber,England,County,Green,PP63,44,...,Michael,Kearney,Male,No,No,NaN,2212,0.043283,0.043118,101413
4511,E14001605,E12000003,York Outer,NaN,Yorkshire and The Humber,England,County,LD,PP90,17,...,Andrew,Hollyer,Male,No,No,NaN,5496,0.107541,-0.079162,34649
4514,E14001605,E12000003,York Outer,NaN,Yorkshire and The Humber,England,County,Lab,PP53,15,...,Luke,Charters,Male,No,No,5199.0,23161,0.453195,0.153816,3440

In [10]:
# Reset the index, keeping the old index value for cross-referencing back to the original dataset

main_cleaned = main.reset_index(drop=True)

main_cleaned

,ONS ID,ONS region ID,Constituency name,County name,Region name,Country name,Constituency type,Party abbreviation,Electoral Commission party ID,MNIS party ID,...,Candidate first name,Candidate surname,Candidate gender,Sitting MP,Former MP,Member MNIS ID,Votes,Share,Change,DC Person ID
0,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,LD,PP90,17,...,Justin,Griffiths,Male,No,No,NaN,916,0.025619,-0.011412,89373
1,W07000081,W92000004,Aberafan Maesteg,NaN,Wales,Wales,County,Green,PP63,44,...,Nigel,Hill,Male,No,No,NaN,1094,0.030597,0.014817,92890
2,S14000060,S92000003,Aberdeen North,NaN,Scotland,Scotland,Burgh,Green,PP130,1057,...,Esme,Houston,Female,No,No,NaN,1275,0.030289,0.018080,85482
3,S14000060,S92000003,Aberdeen North,NaN,Scotland,Scotland,Burgh,LD,PP90,17,...,Desmond,Bouse,Male,No,No,NaN,2583,0.061361,-0.015942,74392
4,S14000060,S92000003,Aberdeen North,NaN,Scotland,Scotland,Burgh,Lab,PP53,15,...,Lynn,Thomson,Female,No,No,NaN,12773,0.303433,0.183637,21097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1657,E14001604,E12000003,York Central,NaN,Yorkshire and The Humber,England,Borough,LD,PP90,17,...,Alan,Page,Male,No,No,NaN,3051,0.070424,-0.007796,116606
1658,E14001604,E12000003,York Central,NaN,Yorkshire and The Humber,England,Borough,Green,PP63,44,...,Lars,Kramm,Male,No,No,NaN,5185,0.119682,0.077808,50749
1659,E14001605,E12000003,York Outer,NaN,Yorkshire and The Humber,England,County,Green,PP63,44,...,Michael,Kearney,Male,No,No,NaN,2212,0.043283,0.043118,101413
1660,E14001605,E12000003,York Outer,NaN,Yorkshire and The Humber,England,County,LD,PP90,17,...,Andrew,Hollyer,Male,No,No,NaN,5496,0.107541,-0.079162,34649
1661,E14001605,E12000003,York Outer,NaN,Yorkshire and The Humber,England,County,Lab,PP53,15,...,Luke,Charters,Male,No,No,5199.0,23161,0.453195,0.153816,3440

In [11]:
# List columns to enable removal of unnecessary variables

main_cleaned.columns

Index(['ONS ID', 'ONS region ID', 'Constituency name', 'County name',
       'Region name', 'Country name', 'Constituency type',
       'Party abbreviation', 'Electoral Commission party ID', 'MNIS party ID',
       'Electoral Commission adjunct party ID', 'Candidate first name',
       'Candidate surname', 'Candidate gender', 'Sitting MP', 'Former MP',
       'Member MNIS ID', 'Votes', 'Share', 'Change', 'DC Person ID'],
      dtype='object')

In [12]:
# Remove unnecessary columns

main_cleaned = main_cleaned.drop(['ONS region ID', 'County name', 'Country name', 'Electoral Commission party ID', 'MNIS party ID', 
                                  'Electoral Commission adjunct party ID', 'Candidate first name', 'Candidate surname', 'Sitting MP',
                                  'Member MNIS ID', 'Change', 'DC Person ID'], axis = 1)

In [13]:
# Create a unique identifier to enable joining of other datasets, using ONS ID and Party abbreviation

match_id = main_cleaned['ONS ID'] + "_" + main_cleaned['Party abbreviation']
main_cleaned.insert(loc=0, column='Match ID', value=match_id)

In [14]:
main_cleaned.head()

,Match ID,ONS ID,Constituency name,Region name,Constituency type,Party abbreviation,Candidate gender,Former MP,Votes,Share
0,W07000081_LD,W07000081,Aberafan Maesteg,Wales,County,LD,Male,No,916,0.025619
1,W07000081_Green,W07000081,Aberafan Maesteg,Wales,County,Green,Male,No,1094,0.030597
2,S14000060_Green,S14000060,Aberdeen North,Scotland,Burgh,Green,Female,No,1275,0.030289
3,S14000060_LD,S14000060,Aberdeen North,Scotland,Burgh,LD,Male,No,2583,0.061361
4,S14000060_Lab,S14000060,Aberdeen North,Scotland,Burgh,Lab,Female,No,12773,0.303433

In [15]:
# Sort by Match ID

main_cleaned.sort_values(by='Match ID', inplace=True)
main_cleaned.head()

,Match ID,ONS ID,Constituency name,Region name,Constituency type,Party abbreviation,Candidate gender,Former MP,Votes,Share
10,E14001063_Green,E14001063,Aldershot,South East,Borough,Green,Male,No,2155,0.044393
11,E14001063_LD,E14001063,Aldershot,South East,Borough,LD,Male,No,4052,0.083471
12,E14001063_Lab,E14001063,Aldershot,South East,Borough,Lab,Female,No,19764,0.407136
13,E14001064_Green,E14001064,Aldridge-Brownhills,West Midlands,Borough,Green,Female,No,1746,0.042677
14,E14001064_LD,E14001064,Aldridge-Brownhills,West Midlands,Borough,LD,Male,No,1755,0.042897

In [16]:
# Check the number of unique values per column in the resulting data.
# We're expecting 11 regions, 2 constituency types, 3 parties & party abbreviations,
# 2 for Former MP (i.e. 0s and 1s) and then Votes and Share numbers for every row.

main_cleaned.nunique()

Match ID              1662
ONS ID                 619
Constituency name      619
Region name             11
Constituency type        4
Party abbreviation       3
Candidate gender         3
Former MP                2
Votes                 1518
Share                 1656
dtype: int64

In [17]:
# There are a few unexpected values there, so let's take a look, starting with constituency type

main_cleaned['Constituency type'].unique()

array(['Borough', 'County', 'County ', 'Burgh'], dtype=object)

In [18]:
# Let's tidy those up
main_cleaned['Constituency type'].replace(to_replace={'County ':'County', 'Burgh':'Borough'}, inplace=True)
main_cleaned['Constituency type'].unique()

/var/folders/_s/gpz89mtx1757d8bg7fvd_4_40000gp/T/ipykernel_9662/1422581554.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  main_cleaned['Constituency type'].replace(to_replace={'County ':'County', 'Burgh':'Borough'}, inplace=True)

array(['Borough', 'County'], dtype=object)

In [19]:
# Next up, why do we not have 1662 values for Votes and Share?
# Let's check the counts by data type in each column, to see if we have any NaN (i.e. blanks)

print(main_cleaned['Votes'].apply(type).value_counts())
print("- - -")

print(main_cleaned['Share'].apply(type).value_counts())
print("- - -")

Votes
<class 'int'>    1662
Name: count, dtype: int64
- - -
Share
<class 'float'>    1662
Name: count, dtype: int64
- - -

In [20]:
# Looks like we do have 1662 values - just not 1662 unique values ... 
# ... which might be just because we see exactly the same votes / share for two or more campaigns.
# ... Seems unlikely, especially for share, but let's check.

vote_values = main_cleaned['Votes'].value_counts()
vote_duplicates = vote_values[vote_values > 1] # trims the list down to only those items with value greater than 1
print("Duplicate vote values:", len(vote_duplicates))

share_values = main_cleaned['Share'].value_counts()
share_duplicates = share_values[share_values > 1] # as above
print("Duplicate share values:", len(share_duplicates))

Duplicate vote values: 130
Duplicate share values: 5

In [21]:
# So we do have duplicate values, but there are still small discrepancies. 
# There should be 144 duplicate vote values, and six duplicate share values.
# Let's see if any values are duplicated more than once.

print('Vote duplicates')
print(vote_duplicates.value_counts())

print('- - -')

print('Share duplicates')
print(share_duplicates.value_counts())

Vote duplicates
count
2    117
3     12
4      1
Name: count, dtype: int64
- - -
Share duplicates
count
2    4
3    1
Name: count, dtype: int64

In [22]:
# Ok, that tallies. All good! 
# We have the correct number of duplicate vote values: 117 + (2 * 12) + (3 * 1) = 144 ... 
# ... and the correct number of duplicate share values: 4 + (2 * 1) = 6.

In [23]:
# Finally, let's rename some of the variables to prevent confusion with 2019 data

main_cleaned.rename(columns={'Votes':'votes_24', 'Share':'share_24'}, inplace=True)

In [24]:
# Cleaned dataframe
main_cleaned

,Match ID,ONS ID,Constituency name,Region name,Constituency type,Party abbreviation,Candidate gender,Former MP,votes_24,share_24
10,E14001063_Green,E14001063,Aldershot,South East,Borough,Green,Male,No,2155,0.044393
11,E14001063_LD,E14001063,Aldershot,South East,Borough,LD,Male,No,4052,0.083471
12,E14001063_Lab,E14001063,Aldershot,South East,Borough,Lab,Female,No,19764,0.407136
13,E14001064_Green,E14001064,Aldridge-Brownhills,West Midlands,Borough,Green,Female,No,1746,0.042677
14,E14001064_LD,E14001064,Aldridge-Brownhills,West Midlands,Borough,LD,Male,No,1755,0.042897
...,...,...,...,...,...,...,...,...,...,...
1641,W07000111_LD,W07000111,Wrexham,Wales,County,LD,Male,No,1777,0.044015
1642,W07000111_Lab,W07000111,Wrexham,Wales,County,Lab,Male,No,15836,0.392242
1655,W07000112_Green,W07000112,Ynys Môn,Wales,County,Green,Male,No,604,0.018512
1654,W07000112_LD,W07000112,Ynys Môn,Wales,County,LD,Female,No,439,0.013455
1656,W07000112_Lab,W07000112,Ynys Môn,Wales,County,Lab,Male,No,7619,0.233511

### Clean & standardise the 2024 constituency results

In [25]:
# Ingest 2024 constituency results

r_24 = pd.read_csv("data/HoC-GE2024-results-by-constituency.csv")

r_24.shape

(650, 32)

In [26]:
# Remove the speaker's constituency, Chorley
# Note that the other exclusions will not be removed at this point, so that they can be used to calculate control variables

r_24 = r_24[r_24['Constituency name'] != 'Chorley']

r_24.shape # check that the dataframe now has one fewer row

(649, 32)

In [27]:
# Remove candidates in the constituences that had by-elections between 2019 and 2024

# First identify the index numbers of rows containing campaigns in those constituencies:

by_election_rows = r_24[r_24['Constituency name'].isin(by_elections)].index

# Then drop those rows: 

r_24 = r_24.drop(by_election_rows)

# And check that the sheet is now 12 rows shorter

r_24.shape

# As noted above, there were in fact 23 by-elections in the period, but the re-naming of constituencies ...
# ... means that I have so far only been able to identify 12 2024 constituencies which had by-elections
# This will need to be borne in mind when interpreting the results.

(637, 32)

In [28]:
# Remove constituencies in Northern Ireland

r_24 = r_24[r_24['Region name'] != 'Northern Ireland']

r_24.shape # check that the dataframe now has 18 fewer rows

(619, 32)

In [29]:
# Ensure party codes match across the two datasets

r_24.columns # display list of columns, and visually check use of abbreviations 'Lab', 'LD' and 'Green'

Index(['ONS ID', 'ONS region ID', 'Constituency name', 'County name',
       'Region name', 'Country name', 'Constituency type', 'Declaration time',
       'Member first name', 'Member surname', 'Member gender', 'Result',
       'First party', 'Second party', 'Electorate', 'Valid votes',
       'Invalid votes', 'Majority', 'Con', 'Lab', 'LD', 'RUK', 'Green', 'SNP',
       'PC', 'DUP', 'SF', 'SDLP', 'UUP', 'APNI', 'All other candidates',
       'Of which other winner'],
      dtype='object')

In [30]:
# Bring up list of columns in main_cleaned, to identify redundant columns in r_24_

main_cleaned.columns

Index(['Match ID', 'ONS ID', 'Constituency name', 'Region name',
       'Constituency type', 'Party abbreviation', 'Candidate gender',
       'Former MP', 'votes_24', 'share_24'],
      dtype='object')

In [31]:
# Remove unnecessary columns, creating new temp dataframe name in case this cell needs to be re-run in debugging.

r_24_ = r_24.drop(['ONS region ID', 'Constituency name', 'County name', 'Region name', 'Country name', 'Constituency type', 'Declaration time', 
                   'Member first name', 'Member surname', 'Member gender', 'Result', 'Second party', 'Electorate', 'Invalid votes', 'Majority', 
                   'DUP', 'SF', 'SDLP', 'UUP', 'APNI',], axis = 1) # note that I've removed the Northern Irish parties here

In [32]:
r_24_.columns

Index(['ONS ID', 'First party', 'Valid votes', 'Con', 'Lab', 'LD', 'RUK',
       'Green', 'SNP', 'PC', 'All other candidates', 'Of which other winner'],
      dtype='object')

In [33]:
r_24_.shape

(619, 12)

In [34]:
# Check the data type in each column

for col in r_24_.columns:
    print(r_24_[col].apply(type).value_counts())
    print("- - -")

ONS ID
<class 'str'>    619
Name: count, dtype: int64
- - -
First party
<class 'str'>    619
Name: count, dtype: int64
- - -
Valid votes
<class 'int'>    619
Name: count, dtype: int64
- - -
Con
<class 'int'>    619
Name: count, dtype: int64
- - -
Lab
<class 'int'>    619
Name: count, dtype: int64
- - -
LD
<class 'int'>    619
Name: count, dtype: int64
- - -
RUK
<class 'int'>    619
Name: count, dtype: int64
- - -
Green
<class 'int'>    619
Name: count, dtype: int64
- - -
SNP
<class 'int'>    619
Name: count, dtype: int64
- - -
PC
<class 'int'>    619
Name: count, dtype: int64
- - -
All other candidates
<class 'int'>    619
Name: count, dtype: int64
- - -
Of which other winner
<class 'int'>    619
Name: count, dtype: int64
- - -

In [35]:
# Calculate percentage vote share for each party

parties = ['Con', 'Lab', 'LD', 'RUK', 'Green', 'SNP', 'All other candidates'] # Create a list of parties

for party in parties:
    r_24_[f'{party}%'] = r_24_[f'{party}'] / r_24_['Valid votes']

In [36]:
# Check to see that 7 columns have been added:

r_24_.shape

(619, 19)

In [37]:
# To create a control variable for how many credible candidates ran in each constituency ...
# ... determine whether each candidate kept their deposit (the cut-off being _more than_ 5% of the vote)

for party in parties:

    r_24_[f'{party}_5%'] = np.where(r_24_[f'{party}%'] > 0.05, 1, 0)

In [38]:
# Check to see that 7 columns have been added:

r_24_.shape

(619, 26)

In [39]:
# Now create a count of candidates who kept their deposit in each constituency

deposit_cols = [party + '_5%' for party in parties] # Create a list of the appropriate columns

r_24_['credible_candidates_24'] = r_24_[deposit_cols].sum(axis=1)

In [40]:
# Convert 2024 constituency results into long-form data, grouped by party and constituency ...
# ... such that each row represents a unique campaign and keeps the necessary data for applying the identified controls.

id_cols = ['ONS ID', 'First party', 'Valid votes', 'credible_candidates_24'] # list of columns to keep constant

r_24_long = r_24_.melt(id_vars=id_cols, value_vars=parties, var_name='Party abbreviation', value_name='Votes')

In [41]:
print(r_24_long.shape)

r_24_long.columns

(4333, 6)

Index(['ONS ID', 'First party', 'Valid votes', 'credible_candidates_24',
       'Party abbreviation', 'Votes'],
      dtype='object')

In [42]:
r_24_long.head()

,ONS ID,First party,Valid votes,credible_candidates_24,Party abbreviation,Votes
0,W07000081,Lab,35755,3,Con,2903
1,S14000060,SNP,42095,5,Con,5881
2,S14000061,SNP,46345,5,Con,11300
3,S14000062,SNP,38188,5,Con,12513
4,E14001063,Lab,48544,4,Con,14081

In [43]:
# Create a unique identifier to enable joining of other datasets, using ONS ID and Party abbreviation

match_id = r_24_long['ONS ID'] + "_" + r_24_long['Party abbreviation']
r_24_long.insert(loc=0, column='Match ID', value=match_id)

In [44]:
r_24_long.head()

,Match ID,ONS ID,First party,Valid votes,credible_candidates_24,Party abbreviation,Votes
0,W07000081_Con,W07000081,Lab,35755,3,Con,2903
1,S14000060_Con,S14000060,SNP,42095,5,Con,5881
2,S14000061_Con,S14000061,SNP,46345,5,Con,11300
3,S14000062_Con,S14000062,SNP,38188,5,Con,12513
4,E14001063_Con,E14001063,Lab,48544,4,Con,14081

In [45]:
r_24_long.sort_values(by='Match ID', inplace=True)

In [46]:
r_24_long.head()

,Match ID,ONS ID,First party,Valid votes,credible_candidates_24,Party abbreviation,Votes
3718,E14001063_All other candidates,E14001063,Lab,48544,4,All other candidates,282
4,E14001063_Con,E14001063,Lab,48544,4,Con,14081
2480,E14001063_Green,E14001063,Lab,48544,4,Green,2155
1242,E14001063_LD,E14001063,Lab,48544,4,LD,4052
623,E14001063_Lab,E14001063,Lab,48544,4,Lab,19764

In [47]:
# Calculate the outcome variable 'won_24' for each campaign

# Create a new column called 'won_24', and set it to contain 1 if the winning party abbreviation matches the party in the row ...
# ... and 0 if it does not

r_24_long['won_24'] = np.where(r_24_long['First party'] == r_24_long['Party abbreviation'], 1, 0)

# Note that we don't need to create the other outcome variable, because it is already provided in the 2024 results by candidate csv file.

In [48]:
# Drop the 'First party' column
r_24_long.drop(columns='First party', inplace=True)

In [49]:
r_24_long.head(10)

,Match ID,ONS ID,Valid votes,credible_candidates_24,Party abbreviation,Votes,won_24
3718,E14001063_All other candidates,E14001063,48544,4,All other candidates,282,0
4,E14001063_Con,E14001063,48544,4,Con,14081,0
2480,E14001063_Green,E14001063,48544,4,Green,2155,0
1242,E14001063_LD,E14001063,48544,4,LD,4052,0
623,E14001063_Lab,E14001063,48544,4,Lab,19764,1
1861,E14001063_RUK,E14001063,48544,4,RUK,8210,0
3099,E14001063_SNP,E14001063,48544,4,SNP,0,0
3719,E14001064_All other candidates,E14001064,40912,3,All other candidates,0,0
5,E14001064_Con,E14001064,40912,3,Con,15901,1
2481,E14001064_Green,E14001064,40912,3,Green,1746,0

In [50]:
# Standardise column names

r_24_long.rename(columns={'Valid votes':'valid_votes_24', 'Votes':'votes_24'}, inplace=True)

In [51]:
r_24_long.head(10)

,Match ID,ONS ID,valid_votes_24,credible_candidates_24,Party abbreviation,votes_24,won_24
3718,E14001063_All other candidates,E14001063,48544,4,All other candidates,282,0
4,E14001063_Con,E14001063,48544,4,Con,14081,0
2480,E14001063_Green,E14001063,48544,4,Green,2155,0
1242,E14001063_LD,E14001063,48544,4,LD,4052,0
623,E14001063_Lab,E14001063,48544,4,Lab,19764,1
1861,E14001063_RUK,E14001063,48544,4,RUK,8210,0
3099,E14001063_SNP,E14001063,48544,4,SNP,0,0
3719,E14001064_All other candidates,E14001064,40912,3,All other candidates,0,0
5,E14001064_Con,E14001064,40912,3,Con,15901,1
2481,E14001064_Green,E14001064,40912,3,Green,1746,0

### Incorporate the 2024 constituency results into the main dataframe

In [52]:
# Bring the 2024 result variables into the main dataset, matching on 'Match ID' (i.e. the unique campaign ID)

main_24 = main_cleaned.merge(r_24_long, how="inner", on="Match ID")

In [53]:
# Check that the merge has added new columns only:
# The new file should contain the same number of records as main_cleaned
# And should contain more columns equal to number of columns in r_24_long minus 1

print(main_cleaned.shape)
print(r_24_long.shape)
print(main_24.shape)

(1662, 10)
(4333, 7)
(1662, 16)

In [54]:
# Check that the only repeated columns are 'ONS ID', 'Party abbreviation' and 'votes_24'
# Each should appear twice, with the suffix '_x' in the first instance and '_y' in the second

main_24.columns

Index(['Match ID', 'ONS ID_x', 'Constituency name', 'Region name',
       'Constituency type', 'Party abbreviation_x', 'Candidate gender',
       'Former MP', 'votes_24_x', 'share_24', 'ONS ID_y', 'valid_votes_24',
       'credible_candidates_24', 'Party abbreviation_y', 'votes_24_y',
       'won_24'],
      dtype='object')

In [55]:
# Add columns to check that these values match

main_24['Check ONS ID'] = np.where(main_24['ONS ID_x'] == main_24['ONS ID_y'], 1, 0)
main_24['Check Votes'] = np.where(main_24['votes_24_x'] == main_24['votes_24_y'], 1, 0)
main_24['Check Party Abbreviation'] = np.where(main_24['Party abbreviation_x'] == main_24['Party abbreviation_y'], 1, 0)

In [56]:
# Print % of matching values

print("ONS Match:", main_24['Check ONS ID'].sum() / len(main_24) * 100, "%")

print("Vote Match:", main_24['Check Votes'].sum() / len(main_24) * 100, "%")

print("Party Match:", main_24['Check Party Abbreviation'].sum() / len(main_24) * 100, "%")

ONS Match: 100.0 %
Vote Match: 100.0 %
Party Match: 100.0 %

In [57]:
# Remove check columns and repeated columns

main_24_cleaned = main_24.drop(['ONS ID_y', 'votes_24_y', 'Party abbreviation_y', 'Check ONS ID', 'Check Votes', 'Check Party Abbreviation'], axis = 1)

In [58]:
# Rename '_x' columns to exclude that suffix, and standardise column titles

main_24_cleaned.rename(columns = {'ONS ID_x':'ONS ID', 'votes_24_x':'votes_24', 'Party abbreviation_x':'Party abbreviation'}, inplace=True)

In [59]:
# Check and confirm final shape and list of columns

print(main_24_cleaned.shape)
print(main_24_cleaned.columns)

(1662, 13)
Index(['Match ID', 'ONS ID', 'Constituency name', 'Region name',
       'Constituency type', 'Party abbreviation', 'Candidate gender',
       'Former MP', 'votes_24', 'share_24', 'valid_votes_24',
       'credible_candidates_24', 'won_24'],
      dtype='object')

### Clean & standardise the 2019 notional constituency results

In [60]:
# Ingest 2019 notional constituency results

# I know from inspecting the data that some but not all of the numeric values contain commas, which produce NaN values in the dataframe
# I've had to seek ChatGPT's help in how to import the csv in such a way that the commas are removed from the values
# and further below (also flagged in comments) in how to convert those values into numerics

r_19 = pd.read_csv('data/estimates-2019-general-election-result-new-constituencies-data-results.csv', dtype=str)

r_19.columns # show columns

Index(['Boundary Comm name', 'PA name', 'ONS code', 'PANO', 'region_name',
       'country_name', 'constituency_type', 'Index_of_change', '"turnout"',
       'electorate',
       ...
       'SNP%', 'PC%', 'Tot oths%', 'Max oths%', 'blank3', 'APNI%', 'DUP%',
       'SDLP%', 'SF%', 'UUP%'],
      dtype='object', length=109)

In [61]:
# Since number of columns viewable is limited by VSCode, print one column at a time instead:

for col in r_19.columns:
    print(col)

Boundary Comm name
PA name
ONS code
PANO
region_name
country_name
constituency_type
Index_of_change
"turnout"
electorate
Conv
Labv
LDv
Grnv
Brxv
SNPv
PCv
TotOthv
MaxOthv
Blank
APNIv
DUPv
SDLPv
SFv
UUPv
Blank2
ADVv
AGSv
ANWPv
AONTv
ASHv
BNPv
BPIv
BSJPv
CFv
CHPv
CMEPv
CMUv
CMUKv
COMLv
CPv
CPAv
CVPv
EDv
GWLDv
HWDIv
INETv
JACv
LBTv
LIBv
LNINv
LUTNv
MKv
MRLPv
MTHRv
NEPv
PATRv
PBPv
PFPv
POSv
PPNVv
RBDv
RENv
SDPv
SEPv
SFPv
SHRPv
SLPv
SNAVv
SOCv
TCRPv
TIGv
TLWv
UGPv
UKIPv
VPPv
WEPv
WRPv
WYv
YESHv
YPPv
YRKSv
IND1v
IND2v
IND3v
IND4v
IND5v
IND6v
blank2
total_votes
majority
maj%
Win19
Second19
CON%
LAB%
LD%
GRN%
BRX%
SNP%
PC%
Tot oths%
Max oths%
blank3
APNI%
DUP%
SDLP%
SF%
UUP%

In [62]:
# Isolate the required columns only

cols_to_keep = ['Boundary Comm name', 'ONS code', 'region_name', 'Conv', 'Labv', 'LDv', 'Grnv', 'Brxv', 'SNPv', 'PCv', 'TotOthv',  
                'total_votes', 'majority', 'Win19'] # as with 24 results, I've removed Northern Irish parties

r_19_slim = r_19[cols_to_keep]

r_19_slim.shape

(650, 14)

In [63]:
# Check the data type in each column

for col in r_19_slim.columns:
    print(r_19_slim[col].apply(type).value_counts())
    print("- - -")

Boundary Comm name
<class 'str'>    650
Name: count, dtype: int64
- - -
ONS code
<class 'str'>    650
Name: count, dtype: int64
- - -
region_name
<class 'str'>    650
Name: count, dtype: int64
- - -
Conv
<class 'str'>      641
<class 'float'>      9
Name: count, dtype: int64
- - -
Labv
<class 'str'>      632
<class 'float'>     18
Name: count, dtype: int64
- - -
LDv
<class 'str'>      632
<class 'float'>     18
Name: count, dtype: int64
- - -
Grnv
<class 'str'>      636
<class 'float'>     14
Name: count, dtype: int64
- - -
Brxv
<class 'str'>      632
<class 'float'>     18
Name: count, dtype: int64
- - -
SNPv
<class 'str'>      632
<class 'float'>     18
Name: count, dtype: int64
- - -
PCv
<class 'str'>      632
<class 'float'>     18
Name: count, dtype: int64
- - -
TotOthv
<class 'str'>    650
Name: count, dtype: int64
- - -
total_votes
<class 'str'>    650
Name: count, dtype: int64
- - -
majority
<class 'str'>    650
Name: count, dtype: int64
- - -
Win19
<class 'str'>    650
Name: count, dtype: int64
- - -

In [64]:
# Remove the speaker's constituency, Chorley
# Note that the other exclusions will not be removed at this point, so that they can be used to calculate control variables

r_19_slim = r_19_slim[r_19_slim['Boundary Comm name'] != 'Chorley']

r_19_slim.shape # check that the sheet now has one fewer row

(649, 14)

In [65]:
# Remove candidates in the constituences that had by-elections between 2019 and 2024

# First identify the index numbers of rows containing campaigns in those constituencies:

by_election_rows = r_19_slim[r_19_slim['Boundary Comm name'].isin(by_elections)].index

# Then drop those rows: 

r_19_slim = r_19_slim.drop(by_election_rows)

# And check that the sheet is now 12 rows shorter

r_19_slim.shape

# As noted above, there were in fact 23 by-elections in the period, but the re-naming of constituencies ...
# ... means that I have so far only been able to identify 12 2024 constituencies which had by-elections
# This will need to be borne in mind when interpreting the results.

(637, 14)

In [66]:
# Remove constituencies in Northern Ireland, starting by listing values in the region_name column

r_19_slim['region_name'].unique()

array(['WA', 'SC', 'SE', 'WM', 'NW', 'EM', 'NI', 'GL', 'YH', 'EE', 'SW',
       'NE'], dtype=object)

In [67]:
# Now filter down the sheet to remove those with the value 'NI' in region_name

r_19_slim = r_19_slim[r_19_slim['region_name'] != 'NI']

r_19_slim.shape # check that the dataframe now has 18 fewer rows

(619, 14)

In [68]:
# Need to standardise and correct the list of parties used as columns in the dataframe

# 1. Rename columns to bring in line with House of Commons library datasets. 
r_19_slim.rename(columns={'Grnv':'Greenv', 'TotOthv':'All other candidates'}, inplace=True)

# 2. Update the 'parties' list to reflect that Reform UK campaigned as the Brexit party in 2019:

ind_RUK = parties.index('RUK') # establish index of 'RUK'
parties[ind_RUK] = 'Brx' # replace 'RUK with 'Brx'

# 3. Create a list with the suffix 'v' on each party name, in line with the dataset column titles:
parties_v = [party + 'v' for party in parties]

# 4. Rename the relevant column titles (because we need to standardise these across datasets)
renaming = dict(zip(parties_v, parties)) # create a dictionary to map old names to new names
r_19_slim.rename(columns=renaming, inplace=True) # use that dictionary to replace the column names in bulk

In [69]:
# Using code from ChatGPT, convert strings into numerics, handling commas, for all columns in the 'parties' list

r_19_slim.loc[:, parties] = r_19_slim.loc[:, parties].map(lambda x: x.replace(',', '') if isinstance(x, str) else x)
r_19_slim.loc[:, parties] = r_19_slim.loc[:, parties].apply(pd.to_numeric, errors='coerce')

In [70]:
# Re-check the data type in each column

for col in r_19_slim.columns:
    print(r_19_slim[col].apply(type).value_counts())
    print("- - -")

Boundary Comm name
<class 'str'>    619
Name: count, dtype: int64
- - -
ONS code
<class 'str'>    619
Name: count, dtype: int64
- - -
region_name
<class 'str'>    619
Name: count, dtype: int64
- - -
Con
<class 'int'>    619
Name: count, dtype: int64
- - -
Lab
<class 'int'>    619
Name: count, dtype: int64
- - -
LD
<class 'int'>    619
Name: count, dtype: int64
- - -
Green
<class 'int'>    619
Name: count, dtype: int64
- - -
Brx
<class 'int'>    619
Name: count, dtype: int64
- - -
SNP
<class 'int'>    619
Name: count, dtype: int64
- - -
PCv
<class 'str'>    619
Name: count, dtype: int64
- - -
All other candidates
<class 'int'>    619
Name: count, dtype: int64
- - -
total_votes
<class 'str'>    619
Name: count, dtype: int64
- - -
majority
<class 'str'>    619
Name: count, dtype: int64
- - -
Win19
<class 'str'>    619
Name: count, dtype: int64
- - -

In [71]:
# And check for NAs

for col in r_19_slim.columns:
    print(f'Column: {col}')
    print('NaN count:', r_19_slim[col].isna().sum())
    print('- - -')

Column: Boundary Comm name
NaN count: 0
- - -
Column: ONS code
NaN count: 0
- - -
Column: region_name
NaN count: 0
- - -
Column: Con
NaN count: 0
- - -
Column: Lab
NaN count: 0
- - -
Column: LD
NaN count: 0
- - -
Column: Green
NaN count: 0
- - -
Column: Brx
NaN count: 0
- - -
Column: SNP
NaN count: 0
- - -
Column: PCv
NaN count: 0
- - -
Column: All other candidates
NaN count: 0
- - -
Column: total_votes
NaN count: 0
- - -
Column: majority
NaN count: 0
- - -
Column: Win19
NaN count: 0
- - -

In [72]:
# Repeat code from ChatGPT for specific str columns that need to be floats, beyond those in the 'parties' list

other_numerics = ['All other candidates', 'total_votes']

r_19_slim.loc[:, other_numerics] = r_19_slim.loc[:, other_numerics].map(lambda x: x.replace(',', '') if isinstance(x, str) else x)
r_19_slim.loc[:, other_numerics] = r_19_slim.loc[:, other_numerics].apply(pd.to_numeric, errors='coerce')

In [73]:
# Check the data type in those columns again

for col in other_numerics:
    print(r_19_slim[col].apply(type).value_counts())
    print("- - -")

All other candidates
<class 'int'>    619
Name: count, dtype: int64
- - -
total_votes
<class 'int'>    619
Name: count, dtype: int64
- - -

In [74]:
# Add a column to show the number of votes for the winner in each constituency:
r_19_slim['max_votes_19'] = (r_19_slim[parties].max(axis=1)).astype(float)

In [75]:
# Check the column titles for any errors:

r_19_slim.columns

Index(['Boundary Comm name', 'ONS code', 'region_name', 'Con', 'Lab', 'LD',
       'Green', 'Brx', 'SNP', 'PCv', 'All other candidates', 'total_votes',
       'majority', 'Win19', 'max_votes_19'],
      dtype='object')

In [76]:
# Convert notional 2019 constituency results into long-form data, grouped by party and constituency ...
# ... such that each row represents a unique campaign and keeps the necessary data for applying the identified controls.

id_cols = ['ONS code', 'Win19', 'total_votes', 'max_votes_19'] # list of columns to keep constant

r_19_long = r_19_slim.melt(id_vars=id_cols, value_vars=parties, var_name='Party abbreviation', value_name='Votes')

In [77]:
r_19_long.shape

(4333, 6)

In [78]:
# Create a unique identifier to enable joining of other datasets, using ONS ID and Party abbreviation

match_id = r_19_long['ONS code'] + "_" + r_19_long['Party abbreviation']
r_19_long.insert(loc=0, column='Match ID', value=match_id)

In [79]:
# Calculate the dependent variables:

# 1. Position in 2019, where 1 = most votes

r_19_long['position_19'] = (r_19_long.groupby('ONS code')['Votes'].rank(ascending=False, method='min')) 
# Dense ensures that parties with 0 votes are all given the lowest tied position

In [80]:
# 2. Difference in raw votes gained between candidate and winning candidate

r_19_long['raw_diff_19'] = r_19_long['max_votes_19'] - r_19_long['Votes']

In [81]:
# 3. Difference in percentage vote share between candidate and winning candidate

r_19_long['pc_diff_19'] = r_19_long['raw_diff_19'] / r_19_long['total_votes']

In [82]:
r_19_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4333 entries, 0 to 4332
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Match ID            4333 non-null   object
 1   ONS code            4333 non-null   object
 2   Win19               4333 non-null   object
 3   total_votes         4333 non-null   object
 4   max_votes_19        4333 non-null   float64
 5   Party abbreviation  4333 non-null   object
 6   Votes               4333 non-null   object
 7   position_19         4333 non-null   float64
 8   raw_diff_19         4333 non-null   object
 9   pc_diff_19          4333 non-null   object
dtypes: float64(2), object(8)
memory usage: 338.6+ KB

In [83]:
# Standardise naming of columns

r_19_long.rename(columns={'Win19':'winner_19', 'total_votes':'total_votes_19', 'Votes':'votes_19'}, inplace=True)

### Incorporate the 2019 notional results into the main dataframe

In [84]:
# Bring the 2019 notional result variables into the main dataset, matching on match_ID (i.e. the unique campaign ID)

main_24_19 = main_24_cleaned.merge(r_19_long, how="inner", on="Match ID")

In [85]:
# The new file should contain the same number of records as main_24_cleaned
# And should contain more columns equal to number of columns in r_19_long minus 1

print(main_24_cleaned.shape)
print(r_19_long.shape)
print(main_24_19.shape)

(1662, 13)
(4333, 10)
(1647, 22)

In [86]:
# Since the resulting file was missing 15 rows, we need to run the merge again using left, then look for erroneous values.

main_24_19 = main_24_cleaned.merge(r_19_long, how="left", on="Match ID")

In [87]:
# Check and count the data types in each column

for col in main_24_19.columns:
    print(main_24_19[col].apply(type).value_counts())
    print("- - -")

Match ID
<class 'str'>    1662
Name: count, dtype: int64
- - -
ONS ID
<class 'str'>    1662
Name: count, dtype: int64
- - -
Constituency name
<class 'str'>    1662
Name: count, dtype: int64
- - -
Region name
<class 'str'>    1662
Name: count, dtype: int64
- - -
Constituency type
<class 'str'>    1662
Name: count, dtype: int64
- - -
Party abbreviation_x
<class 'str'>    1662
Name: count, dtype: int64
- - -
Candidate gender
<class 'str'>    1662
Name: count, dtype: int64
- - -
Former MP
<class 'str'>    1662
Name: count, dtype: int64
- - -
votes_24
<class 'int'>    1662
Name: count, dtype: int64
- - -
share_24
<class 'float'>    1662
Name: count, dtype: int64
- - -
valid_votes_24
<class 'int'>    1662
Name: count, dtype: int64
- - -
credible_candidates_24
<class 'int'>    1662
Name: count, dtype: int64
- - -
won_24
<class 'int'>    1662
Name: count, dtype: int64
- - -
ONS code
<class 'str'>      1647
<class 'float'>      15
Name: count, dtype: int64
- - -
winner_19
<class 'str'>      1647
<class 'float'>      15
Name: count, dtype: int64
- - -
total_votes_19
<class 'int'>      1647
<class 'float'>      15
Name: count, dtype: int64
- - -
max_votes_19
<class 'float'>    1662
Name: count, dtype: int64
- - -
Party abbreviation_y
<class 'str'>      1647
<class 'float'>      15
Name: count, dtype: int64
- - -
votes_19
<class 'int'>      1647
<class 'float'>      15
Name: count, dtype: int64
- - -
position_19
<class 'float'>    1662
Name: count, dtype: int64
- - -
raw_diff_19
<class 'float'>    1662
Name: count, dtype: int64
- - -
pc_diff_19
<class 'float'>    1662
Name: count, dtype: int64
- - -

In [88]:
# The above result shows 15 unexpected float values in 'ONS code'. Let's look at those values, with the components of match_ID:

main_filtered = main_24_19[[isinstance(value, float) for value in main_24_19['ONS code']]] # create filtered dataframe 
main_filtered = main_filtered[['Constituency name', 'Match ID', 'ONS ID',  'Party abbreviation_x', 
                               'ONS code', 'Party abbreviation_y']] # simplify debugging by showing only the relevant columns
main_filtered

,Constituency name,Match ID,ONS ID,Party abbreviation_x,ONS code,Party abbreviation_y
1568,"Ayr, Carrick and Cumnock",S14000107_Green,S14000107,Green,NaN,NaN
1569,"Ayr, Carrick and Cumnock",S14000107_LD,S14000107,LD,NaN,NaN
1570,"Ayr, Carrick and Cumnock",S14000107_Lab,S14000107,Lab,NaN,NaN
1571,"Berwickshire, Roxburgh and Selkirk",S14000108_Green,S14000108,Green,NaN,NaN
1572,"Berwickshire, Roxburgh and Selkirk",S14000108_LD,S14000108,LD,NaN,NaN
1573,"Berwickshire, Roxburgh and Selkirk",S14000108_Lab,S14000108,Lab,NaN,NaN
1574,Central Ayrshire,S14000109_Green,S14000109,Green,NaN,NaN
1575,Central Ayrshire,S14000109_LD,S14000109,LD,NaN,NaN
1576,Central Ayrshire,S14000109_Lab,S14000109,Lab,NaN,NaN
1577,Kilmarnock and Loudoun,S14000110_Green,S14000110,Green,NaN,NaN
1578,Kilmarnock and Loudoun,S14000110_LD,S14000110,LD,NaN,NaN
1579,Kilmarnock and Loudoun,S14000110_Lab,S14000110,Lab,NaN,NaN
1580,West Aberdeenshire and Kincardine,S14000111_Green,S14000111,Green,NaN,NaN
1581,West Aberdeenshire and Kincardine,S14000111_LD,S14000111,LD,NaN,NaN
1582,West Aberdeenshire and Kincardine,S14000111_Lab,S14000111,Lab,NaN,NaN

In [89]:
# We can see from the above that the apparent float values are actually NaNs ... 
# .. which will have overwritten the blanks resulting from a mismatched match_id
# Manual review of the 2019 notional results CSV demonstrates that these five constituencies have incorrect ONS codes
# To fix this, I'll create a dictionary of the incorrect values and corrected values for ONS code:

correct_ONS = ['S14000107', 'S14000108', 'S14000109', 'S14000110', 'S14000111']
incorrect_ONS = ['S14000006', 'S14000008', 'S14000010', 'S14000040', 'S14000058']

ONS_corrections = dict(zip(incorrect_ONS, correct_ONS))
ONS_corrections

{'S14000006': 'S14000107',
 'S14000008': 'S14000108',
 'S14000010': 'S14000109',
 'S14000040': 'S14000110',
 'S14000058': 'S14000111'}

In [90]:
# Now replace the incorrect values with the correct values in the r_19_long dataset

r_19_long['ONS code'] = r_19_long['ONS code'].replace(ONS_corrections)

In [91]:
#Let's check that the change has worked:

r_19_long[r_19_long['ONS code'] == 'S14000107']

,Match ID,ONS code,winner_19,total_votes_19,max_votes_19,Party abbreviation,votes_19,position_19,raw_diff_19,pc_diff_19
19,S14000006_Con,S14000107,SNP,46592,20272.0,Con,17943,2.0,2329.0,0.049987
638,S14000006_Lab,S14000107,SNP,46592,20272.0,Lab,6219,3.0,14053.0,0.301618
1257,S14000006_LD,S14000107,SNP,46592,20272.0,LD,2158,4.0,18114.0,0.388779
1876,S14000006_Brx,S14000107,SNP,46592,20272.0,Brx,0,5.0,20272.0,0.435096
2495,S14000006_Green,S14000107,SNP,46592,20272.0,Green,0,5.0,20272.0,0.435096
3114,S14000006_SNP,S14000107,SNP,46592,20272.0,SNP,20272,1.0,0.0,0.0
3733,S14000006_All other candidates,S14000107,SNP,46592,20272.0,All other candidates,0,5.0,20272.0,0.435096

In [92]:
# Now let's recreate the match_id using the new ONS code:
r_19_long['Match ID'] = r_19_long['ONS code'] + "_" + r_19_long['Party abbreviation']

In [93]:
# And let's check to see that we have a row with one of the missing match IDs:

r_19_long[r_19_long['Match ID'] == 'S14000107_Green']

,Match ID,ONS code,winner_19,total_votes_19,max_votes_19,Party abbreviation,votes_19,position_19,raw_diff_19,pc_diff_19
2495,S14000107_Green,S14000107,SNP,46592,20272.0,Green,0,5.0,20272.0,0.435096

In [94]:
# Now we'll run the merge using 'inner' again and check that it produces 1662 rows.

main_24_19 = main_24_cleaned.merge(r_19_long, how="inner", on="Match ID")
print(main_24_cleaned.shape)
print(r_19_long.shape)
print(main_24_19.shape)

(1662, 13)
(4333, 10)
(1662, 22)

In [95]:
# Success!

In [96]:
# Time to check the resulting dataframe
main_24_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1662 entries, 0 to 1661
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Match ID                1662 non-null   object
 1   ONS ID                  1662 non-null   object
 2   Constituency name       1662 non-null   object
 3   Region name             1662 non-null   object
 4   Constituency type       1662 non-null   object
 5   Party abbreviation_x    1662 non-null   object
 6   Candidate gender        1662 non-null   object
 7   Former MP               1662 non-null   object
 8   votes_24                1662 non-null   int64
 9   share_24                1662 non-null   float64
 10  valid_votes_24          1662 non-null   int64
 11  credible_candidates_24  1662 non-null   int64
 12  won_24                  1662 non-null   int64
 13  ONS code                1662 non-null   object
 14  winner_19               1662 non-null   object
 15  total_votes_19          1662 non-null   object
 16  max_votes_19            1662 non-null   float64
 17  Party abbreviation_y    1662 non-null   object
 18  votes_19                1662 non-null   object
 19  position_19             1662 non-null   float64
 20  raw_diff_19             1662 non-null   object
 21  pc_diff_19              1662 non-null   object
dtypes: float64(3), int64(4), object(15)
memory usage: 285.8+ KB

In [97]:
# Check columns to see that only 'ONS ID'/'ONS code' and 'Party Abbreviation' are repeated
main_24_19.columns

Index(['Match ID', 'ONS ID', 'Constituency name', 'Region name',
       'Constituency type', 'Party abbreviation_x', 'Candidate gender',
       'Former MP', 'votes_24', 'share_24', 'valid_votes_24',
       'credible_candidates_24', 'won_24', 'ONS code', 'winner_19',
       'total_votes_19', 'max_votes_19', 'Party abbreviation_y', 'votes_19',
       'position_19', 'raw_diff_19', 'pc_diff_19'],
      dtype='object')

In [98]:
# Add columns to check that ONS ID / ONS code and 'Party Abbreviation' match across the datasets

main_24_19['Check ONS ID'] = np.where(main_24_19['ONS ID'] == main_24_19['ONS code'], 1, 0)
main_24_19['Check Party Abbreviation'] = np.where(main_24_19['Party abbreviation_x'] == main_24_19['Party abbreviation_y'], 1, 0)

In [99]:
# Print % of matching values

print("ONS Match:", main_24_19['Check ONS ID'].sum() / len(main_24_19) * 100, "%")

print("Party Match:", main_24_19['Check Party Abbreviation'].sum() / len(main_24_19) * 100, "%")

ONS Match: 100.0 %
Party Match: 100.0 %

In [100]:
# Remove check columns and repeated columns

main_24_19_cleaned = main_24_19.drop(['ONS code', 'Party abbreviation_y', 'Check ONS ID', 'Check Party Abbreviation'], axis = 1)

In [101]:
# Rename '_x' columns to exclude that suffix

main_24_19_cleaned.rename(columns = {'Party abbreviation_x':'Party abbreviation'}, inplace=True)

In [102]:
# Check the dataframe
main_24_19_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1662 entries, 0 to 1661
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Match ID                1662 non-null   object
 1   ONS ID                  1662 non-null   object
 2   Constituency name       1662 non-null   object
 3   Region name             1662 non-null   object
 4   Constituency type       1662 non-null   object
 5   Party abbreviation      1662 non-null   object
 6   Candidate gender        1662 non-null   object
 7   Former MP               1662 non-null   object
 8   votes_24                1662 non-null   int64
 9   share_24                1662 non-null   float64
 10  valid_votes_24          1662 non-null   int64
 11  credible_candidates_24  1662 non-null   int64
 12  won_24                  1662 non-null   int64
 13  winner_19               1662 non-null   object
 14  total_votes_19          1662 non-null   object
 15  max_votes_19            1662 non-null   float64
 16  votes_19                1662 non-null   object
 17  position_19             1662 non-null   float64
 18  raw_diff_19             1662 non-null   object
 19  pc_diff_19              1662 non-null   object
dtypes: float64(3), int64(4), object(13)
memory usage: 259.8+ KB

### Clean and standardise the StopTheTories.vote target seat data

In [103]:
# Ingest StopTheTories.vote target seat data

StopTheTories = pd.read_csv('data/20240630_2122-Stop-The-Tories .csv')

In [104]:
# Check columns to identify target seat data

StopTheTories.columns

Index(['Short Code', 'Name', 'Country', 'Implied Vote Share: Winner',
       'Implied Vote Share: Biggest Progressive Party',
       'Implied Vote Share: Con', 'Implied Vote Share: Lab',
       'Implied Vote Share: LD', 'Implied Vote Share: Green',
       'Implied Vote Share: Reform', 'Implied Vote Share: SNP',
       'Implied Vote Share: PC', 'Implied Vote Share: Tot oths',
       'Implied Vote Share: Other', 'Implied Raw: non-voter',
       'Implied Raw: electorate', 'Implied Raw: Conv', 'Implied Raw: Labv',
       'Implied Raw: LDv', 'Implied Raw: Grnv', 'Implied Raw: Brxv',
       'Implied Raw: SNPv', 'Implied Raw: PCv', 'Implied Raw: TotOthv',
       'MRP Vote Share Winner', 'MRP Vote Share Biggest Progressive Party',
       'MRP Vote Share Con', 'MRP Vote Share Lab', 'MRP Vote Share LD',
       'MRP Vote Share Green', 'MRP Vote Share SNP', 'MRP Vote Share PC',
       'MRP Vote Share Reform', 'MRP Vote Share Other', 'Green Target',
       'Labour Non-Target', 'Labour Volunteer Target', 'Lib Dem Top 80 MRP',
       'TV Advice', 'Manual TV Explanation', 'Manual TV Explanation Source',
       'Region', 'GSS Code'],
      dtype='object')

In [105]:
StopTheTories = StopTheTories[['Name', 'Country', 'Green Target', 'Labour Volunteer Target', 'Lib Dem Top 80 MRP']]

In [106]:
StopTheTories.columns

Index(['Name', 'Country', 'Green Target', 'Labour Volunteer Target',
       'Lib Dem Top 80 MRP'],
      dtype='object')

In [107]:
StopTheTories.shape

(650, 5)

In [108]:
StopTheTories['Country'].unique()

array(['Wales', 'Scotland', 'England', 'Northern Ireland'], dtype=object)

In [109]:
# Remove constituencies in Northern Ireland

StopTheTories = StopTheTories[StopTheTories['Country'] != 'Northern Ireland']

In [110]:
# Check that 18 rows have been removed

StopTheTories.shape

(632, 5)

In [111]:
# Remove the speaker's constituency

StopTheTories = StopTheTories[StopTheTories['Name'] != 'Chorley']

In [112]:
# Check that 1 row has been removed

StopTheTories.shape

(631, 5)

In [113]:
# Remove the constituencies where by-elections were held

# First identify the index numbers of rows containing campaigns in those constituencies:

by_election_rows = StopTheTories[StopTheTories['Name'].isin(by_elections)].index

# Then drop those rows: 

StopTheTories = StopTheTories.drop(by_election_rows)

# And check that the sheet is now 12 rows shorter

StopTheTories.shape

# As noted above, there were in fact 23 by-elections in the period, but the re-naming of constituencies ...
# ... means that I have so far only been able to identify 12 2024 constituencies which had by-elections
# This will need to be borne in mind when interpreting the results.

(619, 5)

In [114]:
# Convert the target seat columns into binary values

# First reveal the values in the relevant columns

print(StopTheTories['Green Target'].unique())
print(StopTheTories['Labour Volunteer Target'].unique())
print(StopTheTories['Lib Dem Top 80 MRP'].unique())

[nan True]
[nan 'Target']
[nan 73. 74.  6. 63. 20. 70. 53. 13. 56.  1. 31. 37. 25. 43. 65.  7. 10.
 79. 71. 42. 44. 55. 61. 23. 28. 24. 51. 21. 29. 26. 52. 62.  5. 14. 58.
 35. 38. 59. 64. 32. 36. 78. 48. 33. 76. 41. 16.  9.  2. 68. 77. 66. 80.
 15. 39. 46. 72. 67. 69. 47.  3. 22. 19. 34. 75. 45. 57. 54.  4.  8. 12.
 40. 27. 11. 49. 50. 17. 18.]

In [115]:
# With some help from ChatGPT, create a function to convert numbers in 'Lib Dem Top 80 MRP' into 1s and blanks into 0s

def numeric_to_binary(value):
    if pd.isna(value):  # Check for NaN
        return 0
    if isinstance(value, (int, float)):  # Check for numeric types
        return 1
    try:
        # Try converting string to a number
        float(value)
        return 1
    except (ValueError, TypeError):
        return 0


# Then run the function on the 'Lib Dem Top 80 MRP' column:

StopTheTories['Lib Dem Top 80 MRP'] = StopTheTories['Lib Dem Top 80 MRP'].apply(numeric_to_binary)

# And check the resulting values:

print(StopTheTories['Lib Dem Top 80 MRP'].unique())

[0 1]

In [116]:
# Then create a dictionary for the changes

changes = {'Target' : 1, True : 1, math.nan : 0, '' : 0, 0 : 0}

# Finally run the changes, and save them into columns named for the party abbreviations ...
# ... So we can easily merge the resulting data with our main dataframe.

StopTheTories['Green'] = StopTheTories['Green Target'].replace(changes).astype(int)
StopTheTories['Lab'] = StopTheTories['Labour Volunteer Target'].replace(changes).astype(int)
StopTheTories['LD'] = StopTheTories['Lib Dem Top 80 MRP'].replace(changes).astype(int)

/var/folders/_s/gpz89mtx1757d8bg7fvd_4_40000gp/T/ipykernel_9662/3958815154.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  StopTheTories['Green'] = StopTheTories['Green Target'].replace(changes).astype(int)
/var/folders/_s/gpz89mtx1757d8bg7fvd_4_40000gp/T/ipykernel_9662/3958815154.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  StopTheTories['Lab'] = StopTheTories['Labour Volunteer Target'].replace(changes).astype(int)

In [117]:
# check the resulting values - we want them all to be 0s and 1s.

print(StopTheTories['Green'].unique())
print(StopTheTories['Lab'].unique())
print(StopTheTories['LD'].unique())

[0 1]
[0 1]
[0 1]

In [118]:
# Now check the sums of each column. We're looking for something no more than 4 Green targets ...
# ... 161 Labour targets and 80 Lib Dem targets. (The actual numbers will be lower owing to the ...
# ... constituencies removed, such as for by-elections.

print(StopTheTories['Green'].sum())
print(StopTheTories['Lab'].sum())
print(StopTheTories['LD'].sum())

4
157
78

In [119]:
# Remove all columns not needed for the match

StopTheTories= StopTheTories[['Name', 'Green', 'Lab', 'LD']]

In [120]:
# Rename the 'name' column as 'Constituency name'
# Note that this dataset uses a different format of constituency ID, but we can match on constituency name instead

StopTheTories.rename(columns={'Name':'Constituency name'}, inplace=True)

In [121]:
# Melt the data into long format, such that it indicates for each combination of constituency ....
# ... and party whether that party had targetted that seat (as a binary value)


StopTheTories_long = StopTheTories.melt(id_vars='Constituency name', value_vars=['Green', 'Lab', 'LD'], var_name='Party abbreviation', value_name='target_24')

In [122]:
# Check the shape of the dataframe. We're looking for one that is (619 * 3) = 1857 rows long, and 3 columns wide
StopTheTories_long.shape

(1857, 3)

In [123]:
# Hurray! Now let's look at the dataframe just for the satisfaction of it.

StopTheTories_long

                    Constituency name Party abbreviation  target_24
0                    Alyn and Deeside              Green          0
1               Alloa and Grangemouth              Green          0
2         Arbroath and Broughty Ferry              Green          0
3                 Aldridge-Brownhills              Green          0
4     Argyll, Bute and South Lochaber              Green          0
...                               ...                ...        ...
1852        Wythenshawe and Sale East                 LD          0
1853                           Yeovil                 LD          1
1854                         Ynys Môn                 LD          0
1855                     York Central                 LD          0
1856                       York Outer                 LD          0

[1857 rows x 3 columns]

In [124]:
# Smashing. Now create a new matching variable, 'Match name':

StopTheTories_long['Match name'] = StopTheTories_long['Constituency name'] + "_" + StopTheTories_long['Party abbreviation']

StopTheTories_long

,Constituency name,Party abbreviation,target_24,Match name
0,Alyn and Deeside,Green,0,Alyn and Deeside_Green
1,Alloa and Grangemouth,Green,0,Alloa and Grangemouth_Green
2,Arbroath and Broughty Ferry,Green,0,Arbroath and Broughty Ferry_Green
3,Aldridge-Brownhills,Green,0,Aldridge-Brownhills_Green
4,"Argyll, Bute and South Lochaber",Green,0,"Argyll, Bute and South Lochaber_Green"
...,...,...,...,...
1852,Wythenshawe and Sale East,LD,0,Wythenshawe and Sale East_LD
1853,Yeovil,LD,1,Yeovil_LD
1854,Ynys Môn,LD,0,Ynys Môn_LD
1855,York Central,LD,0,York Central_LD
1856,York Outer,LD,0,York Outer_LD

In [125]:
# Check the number of unique values per column in the resulting data.
# We're expecting 619 constituencies, 3 parties, 2 values for 'Target' and 1857 unique match names

StopTheTories_long.nunique()

Constituency name      619
Party abbreviation       3
target_24                2
Match name            1857
dtype: int64

### Incorporate the StopTheTories.vote target seat data

In [126]:
# Create the 'match name' variable in the main dataframe, so we can successfully run a merge

main_24_19_cleaned['Match name'] = main_24_19_cleaned['Constituency name'] + "_" + main_24_19_cleaned['Party abbreviation']

In [127]:
# Bring the target seat variables into the main dataset, matching on constituency names (since this dataset doesn't use the same IDs)

main_24_19_STTV = main_24_19_cleaned.merge(StopTheTories_long, how="inner", on="Match name")

In [128]:
# The new file should contain the same number of records as main_24_19_cleaned
# And should contain more columns equal to number of columns in StopTheTories_long minus 1

print(main_24_19_cleaned.shape)
print(StopTheTories_long.shape)
print(main_24_19_STTV.shape)

(1662, 21)
(1857, 4)
(1662, 24)

In [129]:
main_24_19_STTV

,Match ID,ONS ID,Constituency name_x,Region name,Constituency type,Party abbreviation_x,Candidate gender,Former MP,votes_24,share_24,...,total_votes_19,max_votes_19,votes_19,position_19,raw_diff_19,pc_diff_19,Match name,Constituency name_y,Party abbreviation_y,target_24
0,E14001063_Green,E14001063,Aldershot,South East,Borough,Green,Male,No,2155,0.044393,...,51828,29453.0,1839,4.0,27614.0,0.532801,Aldershot_Green,Aldershot,Green,0
1,E14001063_LD,E14001063,Aldershot,South East,Borough,LD,Male,No,4052,0.083471,...,51828,29453.0,9068,3.0,20385.0,0.39332,Aldershot_LD,Aldershot,LD,0
2,E14001063_Lab,E14001063,Aldershot,South East,Borough,Lab,Female,No,19764,0.407136,...,51828,29453.0,11468,2.0,17985.0,0.347013,Aldershot_Lab,Aldershot,Lab,1
3,E14001064_Green,E14001064,Aldridge-Brownhills,West Midlands,Borough,Green,Female,No,1746,0.042677,...,47321,32941.0,873,4.0,32068.0,0.67767,Aldridge-Brownhills_Green,Aldridge-Brownhills,Green,0
4,E14001064_LD,E14001064,Aldridge-Brownhills,West Midlands,Borough,LD,Male,No,1755,0.042897,...,47321,32941.0,2654,3.0,30287.0,0.640033,Aldridge-Brownhills_LD,Aldridge-Brownhills,LD,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1657,W07000111_LD,W07000111,Wrexham,Wales,County,LD,Male,No,1777,0.044015,...,47123,21933.0,2013,3.0,19920.0,0.422724,Wrexham_LD,Wrexham,LD,0
1658,W07000111_Lab,W07000111,Wrexham,Wales,County,Lab,Male,No,15836,0.392242,...,47123,21933.0,17994,2.0,3939.0,0.08359,Wrexham_Lab,Wrexham,Lab,1
1659,W07000112_Green,W07000112,Ynys Môn,Wales,County,Green,Male,No,604,0.018512,...,36552,12959.0,0,4.0,12959.0,0.354536,Ynys Môn_Green,Ynys Môn,Green,0
1660,W07000112_LD,W07000112,Ynys Môn,Wales,County,LD,Female,No,439,0.013455,...,36552,12959.0,0,4.0,12959.0,0.354536,Ynys Môn_LD,Ynys Môn,LD,0
1661,W07000112_Lab,W07000112,Ynys Môn,Wales,County,Lab,Male,No,7619,0.233511,...,36552,12959.0,10991,2.0,1968.0,0.053841,Ynys Môn_Lab,Ynys Môn,Lab,1

In [130]:
#Show columns to check that only 'Constituency name' and 'Party abbreviation' are repeated
main_24_19_STTV.columns

Index(['Match ID', 'ONS ID', 'Constituency name_x', 'Region name',
       'Constituency type', 'Party abbreviation_x', 'Candidate gender',
       'Former MP', 'votes_24', 'share_24', 'valid_votes_24',
       'credible_candidates_24', 'won_24', 'winner_19', 'total_votes_19',
       'max_votes_19', 'votes_19', 'position_19', 'raw_diff_19', 'pc_diff_19',
       'Match name', 'Constituency name_y', 'Party abbreviation_y',
       'target_24'],
      dtype='object')

In [131]:
# Add columns to check that ONS ID / ONS code and 'Party Abbreviation' match across the datasets

main_24_19_STTV['Check Constituency Name'] = np.where(main_24_19_STTV['Constituency name_y'] == main_24_19_STTV['Constituency name_x'], 1, 0)
main_24_19_STTV['Check Party Abbreviation'] = np.where(main_24_19_STTV['Party abbreviation_x'] == main_24_19_STTV['Party abbreviation_y'], 1, 0)

In [132]:
# Print % of matching values

print("Name Match:", main_24_19_STTV['Check Constituency Name'].sum() / len(main_24_19_STTV) * 100, "%")

print("Party Match:", main_24_19_STTV['Check Party Abbreviation'].sum() / len(main_24_19_STTV) * 100, "%")

Name Match: 100.0 %
Party Match: 100.0 %

In [133]:
# Remove 'Match name', check columns and _y columns

main_24_19_STTV_cleaned = main_24_19_STTV.drop(columns=['Check Constituency Name', 'Check Party Abbreviation',
                                                        'Constituency name_y', 'Party abbreviation_y', 'Match name'])

In [134]:
# Tidy up the '_x' columns

main_24_19_STTV_cleaned.rename(columns={'Constituency name_x':'Constituency name', 
                                        'Party abbreviation_x':'Party abbreviation'}, inplace=True)

In [135]:
# Check the resulting columns

main_24_19_STTV_cleaned.columns

Index(['Match ID', 'ONS ID', 'Constituency name', 'Region name',
       'Constituency type', 'Party abbreviation', 'Candidate gender',
       'Former MP', 'votes_24', 'share_24', 'valid_votes_24',
       'credible_candidates_24', 'won_24', 'winner_19', 'total_votes_19',
       'max_votes_19', 'votes_19', 'position_19', 'raw_diff_19', 'pc_diff_19',
       'target_24'],
      dtype='object')

In [136]:
# Rename as something more snappy!

main_final = main_24_19_STTV_cleaned

### Perform checks on the final dataframe

In [137]:
# Check the shape of the dataframe. We're expecting 1662 rows and 21 columns.

main_final.shape

(1662, 21)

In [138]:
# List the columns
main_final.columns

Index(['Match ID', 'ONS ID', 'Constituency name', 'Region name',
       'Constituency type', 'Party abbreviation', 'Candidate gender',
       'Former MP', 'votes_24', 'share_24', 'valid_votes_24',
       'credible_candidates_24', 'won_24', 'winner_19', 'total_votes_19',
       'max_votes_19', 'votes_19', 'position_19', 'raw_diff_19', 'pc_diff_19',
       'target_24'],
      dtype='object')

In [139]:
# Standardise column names

main_final.rename(columns={'Constituency name':'constituency_name', 'Region name':'region_name', 'Constituency type':'constituency_type',
                           'Party abbreviation':'party', 'Candidate gender':'candidate_gender', 'Former MP':'former_mp'}, inplace=True)

In [140]:
# Re-list the columns
main_final.columns

Index(['Match ID', 'ONS ID', 'constituency_name', 'region_name',
       'constituency_type', 'party', 'candidate_gender', 'former_mp',
       'votes_24', 'share_24', 'valid_votes_24', 'credible_candidates_24',
       'won_24', 'winner_19', 'total_votes_19', 'max_votes_19', 'votes_19',
       'position_19', 'raw_diff_19', 'pc_diff_19', 'target_24'],
      dtype='object')

In [141]:
# Check the unique values of all control variables
# We're expecting to see 11 regions, 2 constituency types, 3 parties, 3 genders, binary values for 'former_mp' and 'target_24' ...
# ... and values in the region of 5 to 9 for winner_19 and credible_candidates_24

# First, make a list of the control variables
controls = ['region_name', 'constituency_type', 'party', 'candidate_gender', 'former_mp', 'credible_candidates_24', 'winner_19', 'target_24']

# Then show the unique values of each.

main_final[controls].nunique()

region_name               11
constituency_type          2
party                      3
candidate_gender           3
former_mp                  2
credible_candidates_24     5
winner_19                  6
target_24                  2
dtype: int64

In [142]:
# All in order!

In [143]:
# Save as CSV.

main_final.to_csv('data/final-dataset.csv', index=False)

## Description & Visualisation of Resulting Dataset

In [144]:
# Set out the shape of our final dataset. Each row is a campaign (party * constituency)
main_final.shape

(1662, 21)

In [145]:
# Number of campaigns per control variable


# Draw out interpretive significance of control variables

In [146]:
# Show plot of 2019 position vs 2024 position, per campaign


# Describe visualised relationship (association, correlation, outliers)

In [147]:
# Show plot of absolute vote difference vs 2024 position, per campaign


# Describe visualised relationship (association, correlation, outliers)

In [148]:
# Show plot of difference in vote share vs 2024 position, per campaign


# Describe visualised relationship (association, correlation, outliers)

## Statistical Analysis of Data

In [149]:
# Run logistic multiple regression upon dependent variable without controls.

In [150]:
# Repeat without outliers

In [151]:
# Re-run with controls

In [152]:
# Repeat without outliers

## Support for Hypotheses

## Conclusions